In [56]:
import numpy as np

import numpy
import pandas as pd
from pathlib import Path

import json
import os
import shutil

from config import *

# Model dependent

In [62]:
sig_names = os.listdir(model_dep_results_boot)
print('the dictionaries for the following signal injection will be updated: {}'.format(sig_names))

the dictionaries for the following signal injection will be updated: ['550_300']

In [63]:
for s_n in sig_names:
    fold_names = os.listdir(model_dep_results_boot + '/' + s_n)
    print('the following models will be updated: {}'.format(fold_names))

the following models will be updated: ['0_1_2_ft_3', '0_1_2_ft_3_addditional_cuts', '0_1_2_ft_3_add_cuts']

In [64]:
path_append =[]
for s_n in sig_names:
    fold_names = os.listdir(model_dep_results_boot + '/' + s_n)
    for fold_name in fold_names:  
        fold_name_path = model_dep_results_boot + '/' + s_n + '/' + fold_name
        weights_names = os.listdir(fold_name_path)

        for i,weights_name in enumerate(weights_names):  
            print(weights_name)
            path = fold_name_path + '/' + weights_name
            filenames = os.listdir(path)
            names_csv = [name  for name in filenames if name.split('.')[-1]=='csv']

    #         ###CHECK HOSTNAME
    #         host = directory
            header = True
            total = []

            for ix, n in enumerate(names_csv):
                if 'summary' not in n:
                    df = pd.read_csv(path + '/' + n)

                    val_loss = df['val_loss'].min()
                    KL_loss = df['val_KL_loss'].min()
    #                 metric =  df['val_RecoNLL_metric'].min()
                    model_num = n.split('.')[0].split('_')[-1]
                    epochs = len(df)

                    total.append([val_loss,KL_loss, epochs, model_num])

            columns = ['val_loss', 'val_KL_loss','epochs','model_num']
            analysis = pd.DataFrame(total, columns=columns)

            print(path)
            path_append.append(path.split('//')[1] + '/' + 'result_summary.csv')

            analysis.to_csv(path  + '/' + 'result_summary.csv')

w_5_10_10
model_results/model_dependent/boot//550_300/0_1_2_ft_3/w_5_10_10
w_5_10_10
model_results/model_dependent/boot//550_300/0_1_2_ft_3_addditional_cuts/w_5_10_10
w_5_10_10
model_results/model_dependent/boot//550_300/0_1_2_ft_3_add_cuts/w_5_10_10

In [60]:
num = 2
df = pd.read_csv(model_dep_results_boot+path_append[num])
print(path_append[num])

550_300/0_1_2_ft_3_add_cuts/w_5_10_10/result_summary.csv

In [61]:
df

    Unnamed: 0   val_loss  val_KL_loss  epochs  model_num
0            0  19.077719     8.177935     383          4
1            1  15.917847     7.025515     402          0
2            2  21.037950     7.606788     349          1
3            3  12.988833     8.266065     398         10
4            4  22.621094     7.975765     415         11
5            5  18.807361     8.373443     342         12
6            6  13.091474     8.451943     333         13
7            7  23.801298     8.342905     384         14
8            8  24.045991     7.609576     428          2
9            9  17.867175     8.143704     337          3
10          10  28.051956     7.151565     344          5
11          11  11.574392     7.934089     384          6
12          12  32.106718     7.562172     292          7
13          13  19.224360     8.433139     368          8
14          14  12.446612     8.392320     373          9

In [7]:
(2000 + 2100 + 2050)/3

2050.0

In [16]:
np.sqrt(2050.0)/np.sqrt(3)

26.140645235596875

In [10]:
err1 = np.sqrt(2000)
err2 = np.sqrt(2100)
err3 = np.sqrt(2050)

In [14]:
(1/3)*np.sqrt(err1**2 + err2**2 + err3**2)

26.140645235596867

In [46]:
[x for x in '1234321'][:3]==[x for x in '1234321'][::-1][:3]

True

# Model Independent

In [13]:
fold_names = os.listdir(model_results_bump_multiple)
print('the dictionaries for the following models will be updated: {}'.format(fold_names))

the dictionaries for the following models will be updated: ['.ipynb_checkpoints', 'all_ft_0_1_2_3_4_5_6_7_8', 'all_ft_0_1_3_8', 'bump_feat_0_1_2_3_4_5_6_ft_7_mbb_100_350_all_cuts_1000']

In [14]:
path_append = []
for fold_name in fold_names:  
    fold_name_path = model_results_bump_multiple + '/' + fold_name
    weights_names = os.listdir(fold_name_path)

    for weights_name in weights_names:  
        print(weights_name)
        path = fold_name_path + '/' + weights_name
        filenames = os.listdir(path)
        names_csv = [name  for name in filenames if name.split('.')[-1]=='csv']

#         ###CHECK HOSTNAME
#         host = directory
        header = True
        total = []

        for ix, n in enumerate(names_csv):
            if 'summary' not in n:
                df = pd.read_csv(path + '/' + n)

                val_loss = df['val_loss'].min()
                KL_loss = df['val_KL_loss'].min()
#                 metric =  df['val_RecoNLL_metric'].min()
                model_num = n.split('.')[0].split('_')[-1]
                epochs = len(df)

                total.append([val_loss,KL_loss, epochs, model_num])

        columns = ['val_loss', 'val_KL_loss','epochs','model_num']
        analysis = pd.DataFrame(total, columns=columns)

        print(path)
        path_append.append(path.split('//')[1] + '/' + 'result_summary.csv')

        analysis.to_csv(path  + '/' + 'result_summary.csv')

w_1_1_2_1_1_1_1_1
model_results/bump_multiple_train//all_ft_0_1_2_3_4_5_6_7_8/w_1_1_2_1_1_1_1_1
w_5_10_10
model_results/bump_multiple_train//all_ft_0_1_3_8/w_5_10_10
bump_weights_1_1_2_1_1_1_1
model_results/bump_multiple_train//bump_feat_0_1_2_3_4_5_6_ft_7_mbb_100_350_all_cuts_1000/bump_weights_1_1_2_1_1_1_1

In [21]:
analysis

    val_loss  val_KL_loss  epochs model_num
0  15.745034     5.562103     171         0
1  14.970209     4.772972     186         1
2  15.457056     4.781938     196         2
3  15.454162     4.566271     159         3
4  15.675766     4.730432     221         4

In [19]:
df = pd.read_csv(model_results_bump_multiple+path_append[2])

In [20]:
df

   Unnamed: 0   val_loss  val_KL_loss  epochs  model_num
0           0  15.745034     5.562103     171          0
1           1  14.970209     4.772972     186          1
2           2  15.457056     4.781938     196          2
3           3  15.454162     4.566271     159          3
4           4  15.675766     4.730432     221          4